**/gen/
**/edmx/
*.db
*.sqlite
schema.sql
default-env.json

**/bin/
**/target/
.flattened-pom.xml
.classpath
.project
.settings

**/node/
**/node_modules/

**/.mta/
mta_archives/
*.mtar
/resources/
app/*/dist/
app/*/*.zip

*.log*
gc_history*
hs_err*
*.tgz
*.iml

.vscode
.idea
.reloadtrigger
package-lock.json
**/.DS_Store
